.service {
    
    .service-content {
        max-width: 550px;
        padding-bottom: 100px;

        h2 {
            font-weight: 400;
            padding-bottom: 30px;
            font-size: 34px;
            line-height: 48px;
        }

        p {
            font-size: 18px;
            line-height: 32px;
            font-weight: 300;

            a {
                color: $primary-color;
            }
        }
    }

    .portfolio {

        .items {
            // width: calc(100% + 300px);
            width: 100%;
            display: flex;
            flex: auto;
        }

        a {
            display: block;
            margin-bottom: 30px;
        }

        .item {
            padding: 15px 15px;
            flex: 1;

            &:first-child {
                // margin-left: -200px;
                transform: translateY(150px);
            }

            &:nth-child(3) {
                transform: translateY(-200px);
            }

            img {
                width: 100%;
                vertical-align: middle;
            }
        }
    }

    .process {
        padding-top: 100px;

        .item {
            margin-bottom: 50px;

            .title {
                display: flex;
                align-items: center;

                .icon {
                        width: 90px;
                        height: 90px;
                        position: relative;
                        display: -webkit-inline-box;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        z-index: 1;

                    i {
                        font-size: 36px;
                    }

                    &::before, 
                    &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        -webkit-transition: all 0.4s;
                        transition: all 0.4s;
                    }

                    &::before {
                        background-color: #F3F8FC;
                        -webkit-transform: rotateY(0);
                        transform: rotateY(0);
                    }

                    &::after {
                        background-color: #ECAE20;
                        -webkit-transform: rotateY(180deg);
                        transform: rotateY(180deg);
                    }
                }

                .text {
                    padding-left: 30px;

                    h3 {
                        font-weight: 400;
                        margin-bottom: 0;
                    }

                    span {
                        font-size: 16px;
                        font-weight: 400;
                        display: block;
                        color: $primary-color;
                    }
                }
            }

            p {
                font-size: 18px;
                padding-top: 20px;
                line-height: 32px;
                font-weight: 300;
                padding-right: 30px;
            }

            a {
                display: inline-block;
                padding: 6px 15px;
                background-color: #ECAE20;
                text-transform: uppercase;
                color: #ffffff;
                -webkit-transition: all 0.4s;
                transition: all 0.4s;

                &:hover {
                    background-color: $secondary-color;
                }
            }
        }

        .request-quote {
            display: block;
            background-color: $secondary-color;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            text-transform: uppercase;
            color: $white;
            font-weight: 300;
            transition: $transition;
            margin-top: 30px;

            &:hover {
                background-color: $primary-color;
            }

            i {
                font-size: 14px;
                padding-left: 15px;
            }
        }
    }
}