.contact-page {
    padding: 100px 0;

    @media (max-width: 991.98px) {
        padding: 100px 15px;
    }

    .contact-content {
        display: flex;
        background-color: #eee;

        .img {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .form {
            padding: 50px 30px;
            width: 50%;
            box-sizing: border-box;

            h2 {
                font-weight: 400;
                padding-bottom: 30px;
                text-align: center;
            }

            .input-item {
                margin-bottom: 20px;

                input,
                textarea {
                    padding: 0 15px;
                    width: 100%;
                    height: 50px;
                    border: 1px solid #ddd;
                    background-color: $white;
                    font-size: 16px;
                    font-weight: 300;
                }

                textarea {
                    padding-top: 15px;
                    height: 200px;
                }
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 50px;
                border: 0;
                background-color: $primary-color;
                color: $white;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 18px;
                transition: $transition;

                &:hover {
                    background-color: $secondary-color;
                }

                i {
                    font-size: 16px;
                    padding-left: 10px;
                    margin-top: -2px;
                }
            }
        }

        @media (max-width: 991.98px) {
            .img {
                display: none;
            }

            .form {
                width: 100%;
            }
        }

    }
}