.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;

    .header-content {
        display: flex;
        align-items: center;
        padding: 20px 0;

        .logo {
            img {
                width: 180px;
            }

            a {
                font-size: 26px;
                color: $primary-color;
            }
        }

        .phone {
            padding-left: 30px;

            span {
                color: $white;
                font-weight: 300;
                padding-right: 15px;
            }

            a {
                color: $white;
                font-weight: 300;
            }

            @media (max-width: 767.98px) {
                display: none;
            }
        }

        .menu-icon {
            margin-left: auto;
            width: 37px;
            height: 37px;
            position: relative;

            .hamburger {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);

                span {
                    display: inline-block;
                    width: 37px;
                    height: 3px;
                    margin-bottom: 6px;
                    background: #F0CB5B;

                    &:nth-child(2) {
                        width: 20px;
                    }

                    &:nth-child(3) {
                        width: 25px;
                    }
                }
            }

            .cross {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 37px;
                height: 37px;
                display: none;
                cursor: pointer;

                span {
                    display: inline-block;
                    width: 37px;
                    height: 3px;
                    background-color: #d60e21;
                    position: absolute;
                    top: 50%;
                    left: 66%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    
                    &:last-child {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }

                
            }
        }
    }
}

// Menu;
.header-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    z-index: 2;
    transition: $transition;
    opacity: 0;
    visibility: hidden;

    .container {
        position: relative;
    }

    &::before {
        content: '';
        width: 820px;
        max-width: 100%;
        height: 100vh;
        background-color: $white;
        position: absolute;
        top: 0;
        left: 100%;
        transition: $transition;
        z-index: -1;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 69, 103, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }

    nav {
        height: 100vh;
        display: flex;
        align-items: center;
        transform: scaleY(0);
        transition: $transition;
        transition-delay: .5s;

        ul {
            li {
                a {
                    display: inline-block;
                    font-size: 36px;
                    line-height: 70px;
                    color: $bColor;
                    font-weight: 300;
                    transition: $transition;
                    text-transform: uppercase;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .social {
        position: absolute;
        bottom: 30px;
        right: 15px;
        z-index: 9;

        ul {
            display: flex;

            li {
                margin-left: 15px;

                a {
                    display: block;
                    font-size: 22px;
                    color: $white;
                    transition: $transition;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    &.active {
        opacity: 1;
        visibility: visible;

        &::before {
            left: 0;
        }

        nav {
            transform: scaleY(1);
        }
    }
}