.banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(21, 54, 63, .6);
        z-index: -1;
    }

    .banner-content {
        width: 800px;
        padding: 30px;
        max-width: 100%;
        text-align: center;

        h1 {
            font-size: 72px;
            line-height: 94px;
            color: $white;
            font-weight: 400;
            font-family: $bodyFont;
            text-transform: uppercase;

            @media (max-width: 991.98px) {
                font-size: 72px;
                padding-top: 60px;
            }

            @media (max-width: 767.98px) {
                font-size: 60px;
                line-height: 72px;
            }

            @media (max-width: 575px) {
                font-size: 40px;
                line-height: 56px;
            }
        }

        p {
            margin-bottom: 0;
            font-size: 23px;
            line-height: 36px;
            font-weight: 300;
            color: $white;

            @media (max-width: 575px) {
                font-size: 18px;
                line-height: 28px;
            }
        }

        .btn-area {
            display: flex;
            justify-content: center;
            margin-top: 30px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 30px;
                height: 46px;
                background-color: $secondary-color;
                margin: 0 5px;
                font-size: 18px;
                text-transform: uppercase;
                color: $white;
                border: 1px solid rgba(240, 203, 91, 0.7);
            }

            @media (max-width: 575px) {
                flex-direction: column;
                
                a {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &.page-banner {
        height: auto;
        padding: 100px 0;

        h1 {
            font-size: 56px;
            line-height: 76px;
            text-transform: uppercase;

            @media (max-width: 991.98px) {
                font-size: 46px;
                line-height: 58px;
            }

            @media (max-width: 575px) {
                font-size: 36px;
                line-height: 48px;
            }
        }
    }
}