.about-section {
    padding: 100px 0;
    text-align: center;
    max-width: 850px;
    margin: 0 auto;

    @media (max-width: 575px) {
        padding: 100px 30px;
    }

    h2 {
        font-size: 38px;
        line-height: 58px;

        @media (max-width: 767.98px) {
            font-size: 26px;
            line-height: 38px;
        }
    }

    p {
        font-size: 18px;
        line-height: 28px;
        font-weight: 300;
    }

    ul {
        li {
            position: relative;
            font-size: 18px;
            margin-bottom: 10px;
            padding-left: 20px;
            text-align: left;
            font-weight: 300;

            &::before {
                content: '\2713';
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}