.about-page {
    padding: 100px 0;

    h2 {
        padding-bottom: 20px;
    }

    h3 {
        font-size: 22px;
        font-weight: 400;
        padding-bottom: 15px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 15px;
        font-weight: 300;

        a {
            color: $primary-color;
        }
    }

    .text-content {
        padding-right: 50px;

        ul {
            li {
                position: relative;
                padding-left: 20px;
                margin-bottom: 10px;
                font-size: 18px;
                line-height: 28px;
                font-weight: 300;

                &::before {
                    content: '';
                    width: 6px;
                    height: 6px;
                    background-color: $bColor;
                    position: absolute;
                    top: 10px;
                    left: 0;
                }
            }
        }

        .author {
            font-size: 18px;
            font-weight: 500;
            color: $primary-color;
        }
    }

    .progress-side {
        ul {
            li {
                margin-bottom: 15px;

                p {
                    font-size: 14px;
                    font-weight: 300;
                    margin-bottom: 0;
                }

                > span {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 15px;
                    border-radius: 6px;
                    background: linear-gradient(to bottom, rgba(246,246,246,1) 0%,rgba(238,238,238,1) 100%);
                    border: .5px solid #ddd;
                    z-index: 1;

                    span {
                        display: inline-block;
                        height: 100%;
                        background: linear-gradient(to bottom, rgba(241,182,4,1) 0%,rgba(226,171,5,1) 100%);
                        border: 1px solid #c79705;
                        box-shadow: inset 0 0 2px #fdf6ce;
                        border-radius: 6px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        box-shadow: inset 0 0 2px #fdf6ce;
                        z-index: 2;
                    }
                }
            }
        }
    }
}