.client {
    padding-bottom: 100px;

    [class^="col"] {
        margin-bottom: 30px;
    }

    @media (max-width: 767.98px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    h2 {
        text-align: center;
        padding-bottom: 30px;

        span {
            display: block;
            color: $primary-color;
            font-size: 22px;
            font-weight: 400;
        }
    }

    a {
        height: 100%;
        background-color: #F3F8FC;
        display: flex;
        justify-content: center;
        align-items: center;

        .item {
            padding: 30px 0;
            width: calc(100% - 60px);

            img {
                width: 100%;
                filter: grayscale(100%);
                transition: $transition;
            }

            &:hover {
                img {
                    filter: grayscale(0);
                }
            }
        }
    }
}