// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

// Color;
$primary-color: #ECAE20;
$hover-color : #188fff;
$secondary-color: #004567;
$bColor: #333333;
$white : #ffffff;
$black : #000000;
$bgOne: #FAFAFA;
$bgTwo: #F7F7F7;
$border-color: #DADADA;


// Body;
$bodyFont: 'Roboto', sans-serif;
$titleFont: 'Roboto', sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .4s;
